/* variable Declaration */
:root {
  --white: #ffffff;
  --primary-black: #121212;
  --secondary-black: #707070;
  --third-color: #b3b3b3;
  --btn-bg: #ff5959;
  --content-bg: #fafafa;
  --secondary-content-bg: #ffeeee;
}
/* Universal Styles */
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Banner Section Styles */
.banner {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(images/donation13.jpg);

  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px 600px;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: var(--white);
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 30px;
}
.primary-btn {
  padding: 16px;
  border: 0;
  border-radius: 5px;
  background-color: var(--btn-bg);
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
}
/* Main Section style */
.donate-today {
  text-align: center;
  padding: 0 500px;
}
.section-content {
  margin-top: 130px;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary-black);
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-black);
  margin-top: 20px;
  margin-bottom: 50px;
}
.donate-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.donate-content {
  background-color: var(--content-bg);
  padding: 40px 25px;
  border: 0;
  border-radius: 5px;
  color: var(--secondary-black);
}
#on-click {
  border: 2px solid var(--btn-bg);
  background-color: var(--secondary-content-bg);
}
.donate-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--third-color);
  margin-top: 60px;
  margin-bottom: 10px;
}
hr {
  margin-bottom: 40px;
}
/* Our plan section styles */
.our-plan{
    padding: 0 300px;
}
.our-plan .section-content {
  padding: 0 200px;
}
.container {
  display: flex;
  gap: 24px;
  text-align: left;
}
.contents {
  background: rgba(79, 157, 166, 0.1);
  padding: 50px 24px;
  border-radius: 5px;
}
.container-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-black);
  margin-top: 30px;
}
.container-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-black);
  margin-top: 16px;
  margin-bottom: 54px;
}

