/* variable Declaration */
:root {
  /* colors */
  --white: #ffffff;
  --primary-black: #121212;
  --secondary-black: #707070;
  --third-color: #b3b3b3;
  --btn-bg: #ff5959;
  --primary-bg: #ffffff;;
  --content-bg: #fafafa;
  --secondary-content-bg: #ffeeee;
  --banner-bg: #FFF4D6;
  --footer-bg: #0B0D17;
  /* font family */
  --primary-font: "Inter", sans-serif;
  --lobster: 'Lobster', cursive;
  /* Responsive font size */
  --title-font: 2em;
  --subtitle-font: 1em;
  --primary-font: 0.5em;
}
/* Universal Styles */
* {
  margin: 0 auto;
  max-width: 2400px;
  font-family: var(--primary-font);
}

/* Banner Section Styles */
.banner {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(images/donation13.jpg);

  background-repeat: no-repeat;
  background-size: 100%;
  padding: 150px 600px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .banner{
    padding: 20px;
  }
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: var(--white);
}
@media screen and (max-width: 576px) {
  .banner-title{
    font-size: var(--title-font);
  }
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px){
  .banner-description{
    font-size: var(--subtitle-font);

  }
}
.primary-btn {
  padding: 16px;
  border: 0;
  border-radius: 5px;
  background-color: var(--btn-bg);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}
@media screen and (max-width: 576px){
  .primary-btn{
    padding: 10px;
    font-size: var(--primary-font);
  }
}
/* Main Section style */
main{
  margin: 0;
  padding: 1px;
  background: var(--primary-bg);
}
.donate-today {
  text-align: center;
  padding: 0 500px;
}
@media screen and (max-width: 576px){
  .donate-today{
    padding: 0 10%;
  }
}
.section-content {
  margin-top: 130px;
  text-align: center;
}
@media screen and (max-width: 576px){
  .section-content{
    margin-top: 10%;
  }
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary-black);
}
@media screen and (max-width: 576px){
  .section-title{
    font-size: var(--title-font);
  }
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-black);
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px){
  .section-description{
    font-size: var(--primary-font);
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.donate-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}
@media screen and (max-width: 576px){
  .donate-container{
    flex-direction: column;
  }
}
.donate-content {
  background-color: var(--content-bg);
  padding: 40px 25px;
  border: 0;
  border-radius: 5px;
  color: var(--secondary-black);
}
@media screen and (max-width: 576px){
  .donate-content{
    padding: 5px 10px;
  }
  .donate-content .item{
    font-size: var(--subtitle-font);
  }
}
#on-click {
  border: 2px solid var(--btn-bg);
  background-color: var(--secondary-content-bg);
}
@media screen and (max-width: 576px){
  #on-click{
    border: 1px solid var(--btn-bg);
  }
}
.donate-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--third-color);
  margin-top: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px){
  .donate-description{
    font-size: var(--subtitle-font);
    margin-top: 20px;
  }
}
hr {
  margin-bottom: 40px;
}
@media screen and (max-width: 576px){
  hr{
    margin-bottom: 20px;
  }
}
/* Our plan section styles */
.our-plan {
  padding: 0 200px;
}
@media screen and (max-width: 576px){
  .our-plan{
    padding: 0;
  }
  
}
.our-plan .section-content {
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .our-plan .section-content {
    padding: 0 10%;
  }
  
}
.container {
  display: flex;
  gap: 24px;
  text-align: left;
  justify-content: center;
}
.contents {
  background: rgba(79, 157, 166, 0.1);
  padding: 50px 24px;
  border-radius: 5px;
}
.container-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-black);
  margin-top: 30px;
}
.container-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-black);
  margin-top: 16px;
  margin-bottom: 54px;
}
  /* Documentation section style */
  .documentation {
    padding: 0 250px 0 200px;
  }
  .secondary-container {
    gap: 50px;
  }
  .documentation .section-description-first {
    margin-bottom: 0;
  }
  .container-details {
    padding: 30px;
  }
  /* They needs section styles */
  .they-needs {
    padding: 0 250px 0 200px;
  }
  #reverse-container {
    flex-direction: row-reverse;
  }
  .they-needs .container-details {
    padding-right: 0px;
    text-align: left;
  }

  .they-needs .section-description-first {
    margin-bottom: 0;
  }
  /* update section styles */
  .updates{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
  }
  .bottom-banner{
    border: 0;
    height: 160px;
    background-color: var(--banner-bg);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .form-email{
    padding: 15px;
    border: 0;
    border-radius: 5px;
    margin-right: 0;

  }
  .form-btn{
    color: var(--white);
    border: 0;
    border-radius: 5px;
    background-color: var(--btn-bg);
    padding: 15px;
    margin-right: 0;
  }
  /* Footer section styles */
  .footer{
    height: 15vh;
    background-color: var(--footer-bg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-message{
    font-size: 30px;
    font-weight: 500;
    font-family: var(--lobster);
    color: var(--btn-bg);
  }